#popup {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1001;
}
 
.content-popup {
    margin:0px auto;
    margin-top:120px;
    position:relative;
    padding:10px;
    max-width:500px;
    /* min-height:250px;*/
    border-radius:4px;
    background-color:#ffc367;
    box-shadow: 0 2px 5px #a90403;
}
 
.content-popup h2 {
    color:#48484B;
    border-bottom: 1px solid #48484B;
    margin-top: 0;
    padding-bottom: 4px;
}
 
.popup-overlay {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;
    display:none;
    background-color: #ebf2f5;
    cursor: pointer;
    opacity: 0.7;
}

#popup-title{
    text-align: center;;
}

#popup-description{
    margin-top: -1em;
    font-family: "BluuNext",sans-serif;
    color: #fff;
    font-size: 18px;
}

.logo-popup{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -20%);
  width: 80px;
  padding-top: 15px;
}

.logo-popup-after{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 123%);
  width: 80px;
}
 
.close {
    position: absolute;
    right: 15px;
}

.btn-1{
  /*position: relative;
  top: 50%;
  left: 50%;*/
  /* transform: translate(-50%, -50%);*/
  transform: translate(-61%);
  padding-top: 10px;
}
.button:link, .button:visited{
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 100px;
  padding: 15px 40px;
  transition: all 0.2s;
  color: #48484B;
} 
.button-blue{
  background-color: #f78c31;
  color: #fff;
}
.button:hover{
  transform: translateY(-3px);
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.button:active{
  transform: translateY(-1px);
}
.button::after{
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  border-radius: 100px;
  z-index: -1;
  transition: all 0.4s;
}
.button-blue::after{
  background-color: #f78c31;
}
.button:hover::after{
  transform: scale(1.4, 1.6);
  opacity: 0;
}

.preloader-popup {
  align-items: center;
  background: transparent;
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  transition: opacity 0.3s linear;
  width: 100%;
  z-index: 9999;
}