#wpsm_progress_b_row_12 .wpsm_progress .wpsm_progress-pro-bar {
    background: #e5e5e5;
    margin:5px 0 20px 0;
    clear: both;
}

#wpsm_progress_b_row_12 .wpsm_progress .wpsm_progress-title{
    font-size: 18px;
    font-weight: 600;
  font-family: "BluuNext",sans-serif;
    color: #024457;
    line-height: 22px;
    text-align: left;
    float: left;
}
#wpsm_progress_b_row_12 .wpsm_progress .wpsm_progress-value{
    line-height: 22px;
    float: right;
  font-style: normal;
  font-size: 12px;
    font-weight: 600;
    color: #024457;
}

#wpsm_progress_b_row_12 .wpsm_progress .wpsm_progress-bar {
  background-color: #3398da;
    animation: animate-positive 2s;
    height:4px;
}

@-webkit-keyframes animate-positive{
    0% { width: 0%; }
}
@keyframes animate-positive{
    0% { width: 0%; }
}